html::-webkit-scrollbar {
  width: 6px; /* Tamaño del scroll en vertical */
  height: 100%; /* Tamaño del scroll en horizontal */
  margin-top: 56px;
}
html::-webkit-scrollbar-thumb {
  background: #aaa;
  border-radius: 4px;
  width: 5px;
}
html::-webkit-scrollbar-thumb:hover {
  background: #b3b3b3;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}
